morning-call-sem-info.json
{
  "_comment": "Nós para o ramo FALSE do IF Dia Útil? — fins de semana e feriados",
  "_variaveis_necessarias": {
    "ANTHROPIC_API_KEY": "Chave da API Anthropic",
    "HCTI_USER_ID": "User ID do htmlcsstoimage.com",
    "HCTI_API_KEY": "API Key do htmlcsstoimage.com",
    "MC_BACKGROUND_BASE64": "base64 da imagem de fundo (rode: base64 -i background.png | tr -d '\\n')"
  },
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst feriado = data.feriado;\nconst date = data.date;\n\nconst d = new Date(date + 'T09:00:00');\nconst meses = ['janeiro','fevereiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro'];\nconst dataFormatada = `${d.getDate()} de ${meses[d.getMonth()]} de ${d.getFullYear()} às 09:00`;\n\nconst contexto = feriado\n  ? `Hoje é feriado nacional: ${feriado}.`\n  : d.getDay() === 0 ? 'Hoje é domingo.' : 'Hoje é sábado.';\n\nreturn [{ json: { dataFormatada, contexto, date } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1584, 4960],
      "id": "sem-info-01",
      "name": "Formata Data PT-BR"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 80,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.contexto }} Gere UMA dica curta e engraçada para quem não vai trabalhar hoje. Máximo 12 palavras. Comece sempre com 'Dica:'. Sem aspas, sem emoji.\"\n    }\n  ]\n}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1808, 4960],
      "id": "sem-info-02",
      "name": "Claude: Gera Dica"
    },
    {
      "parameters": {
        "jsCode": "const claudeResp = $input.first().json;\nconst { dataFormatada, contexto } = $('Formata Data PT-BR').first().json;\n\nconst dica = claudeResp.content[0].text.trim();\n\nreturn [{ json: { dataFormatada, dica } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2032, 4960],
      "id": "sem-info-03",
      "name": "Extrai Dica"
    },
    {
      "parameters": {
        "jsCode": "const { dataFormatada, dica } = $input.first().json;\nconst bgBase64 = $vars.MC_BACKGROUND_BASE64;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { width: 1080px; height: 1920px; overflow: hidden; position: relative; background: #000; }\n  .bg {\n    position: absolute; inset: 0;\n    width: 100%; height: 100%;\n    object-fit: cover;\n  }\n  .date {\n    position: absolute;\n    top: 282px; left: 0; right: 0;\n    text-align: center;\n    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', sans-serif;\n    font-size: 30px;\n    font-weight: 400;\n    color: #999999;\n    letter-spacing: 0.3px;\n  }\n  .main-text {\n    position: absolute;\n    top: 482px; left: 73px; right: 73px;\n    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', sans-serif;\n    font-size: 42px;\n    font-weight: 400;\n    font-style: normal;\n    color: #ffffff;\n    line-height: 1.3;\n    letter-spacing: -1px;\n  }\n  .dica {\n    position: absolute;\n    top: 620px; left: 73px; right: 73px;\n    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', sans-serif;\n    font-size: 40px;\n    font-weight: 400;\n    font-style: italic;\n    color: rgba(255,255,255,0.55);\n    line-height: 1.3;\n    letter-spacing: -0.8px;\n  }\n</style>\n</head>\n<body>\n  <img class=\"bg\" src=\"data:image/png;base64,${bgBase64}\" alt=\"\">\n  <div class=\"date\">${dataFormatada}</div>\n  <div class=\"main-text\">Hoje não tem dados de mercado.</div>\n  <div class=\"dica\">${dica}</div>\n</body>\n</html>`;\n\nreturn [{ json: { html, dataFormatada, dica } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2256, 4960],
      "id": "sem-info-04",
      "name": "Gera HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hcti.io/v1/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"viewport_width\": 1080,\n  \"viewport_height\": 1920\n}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2480, 4960],
      "id": "sem-info-05",
      "name": "HTML para PNG (HCTI)",
      "_credencial": "Criar em n8n: HTTP Basic Auth com HCTI_USER_ID como username e HCTI_API_KEY como password"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst imageUrl = resp.url || '';\nreturn [{ json: { imageUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2704, 4960],
      "id": "sem-info-06",
      "name": "Extrai URL PNG"
    }
  ],
  "connections": {
    "Formata Data PT-BR": { "main": [[{ "node": "Claude: Gera Dica", "type": "main", "index": 0 }]] },
    "Claude: Gera Dica":  { "main": [[{ "node": "Extrai Dica", "type": "main", "index": 0 }]] },
    "Extrai Dica":        { "main": [[{ "node": "Gera HTML", "type": "main", "index": 0 }]] },
    "Gera HTML":          { "main": [[{ "node": "HTML para PNG (HCTI)", "type": "main", "index": 0 }]] },
    "HTML para PNG (HCTI)": { "main": [[{ "node": "Extrai URL PNG", "type": "main", "index": 0 }]] }
  },
  "_conexao_entrada": "IF Dia Útil? → saída FALSE (index 1) → Formata Data PT-BR",
  "_proximos_passos": "Após Extrai URL PNG → nó Instagram Graph API para postar o Story"
}
